<br><br><br>
{{# each products }}
  <div class="row">
    {{# each this }}
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 14rem; min-height: 350px;">
          <img src="{{ this.imagePath }}">
          <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text">{{ this.text }}</p>
            <div class="price">{{ this.price }}</div>
            <div class="clearfix float-right">
              <a href="/add-to-cart/{{this._id}}" class="btn btn-primary" role="button">Köp</a>
            </div>
          </div>
        </div>
      <br>
      </div>
    {{/each}}
{{/each}}