<style>

  ul {

    background-color: white;
    width: 100%;

  }

  body {

    background-color: rgb(247, 246, 246);

  }

  .container {
    
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    margin: -50px 0 0 -100px;
    margin-left: 6.5%;
    width: 300px;
    
  }

  @media only screen and (max-width: 700px) {
  .container {
    width: 75%;
    margin-left: 22.5%;
  }
}

  .footer {

    background-color: rgb(19, 19, 19);

  }

  a {text-decoration: none;} 

</style>

<head>

  <title>Products</title>

</head>

<hr style="height: 50px;">

<div id="snackbar">Item added to cart</div>

<!-- Header knappar för navigering -->
{{# each products }}
   {{# each this }}
    <div class="container">
     <div class="w3-container" style="width: 500px; height: 425px;">
        <div class="w3-card-4" style="width:50%;">
          <h4 style="text-align: center; padding-top: 12px; font-weight: 600; font-family: 'Roboto', 'Lato', sans-serif;">{{ this.title }}</h4>
           <img src="{{ this.imagePath }}" style="width:100%; height: 80%;">
            <div class="w3-container w3-center" style="max-height: 135px;">
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <h4 style="font-size: 14px;">{{ this.text }}</h4>

                  <!-- Identify your business so that you can collect the payments. -->
                 <!-- <input type="hidden" name="business" value="joel.maneskold.ha11b@gmail.com"> -->

                  <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
                  <input type="hidden" name="cmd" value="_cart">
                  <input type="hidden" name="add" value="1">

                  <!-- Specify details about the item that buyers will purchase. -->
                  <!--  <p>{{ this.title }}</p> -->
                  <p>{{ this.price }} Kr</p>
                  <input type="hidden" name="currency_code" value="SEK">  

                  <!-- Display the payment button. -->
                 
                  <input type="image" name="submit" onclick="myFunction()" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" alt="Add to Cart">
                  <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                </form>
                 
            </div>
          </div> 
        </div>
    </div>
  {{/each}}
{{/each}}

<script>
  function myFunction() {
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }
</script>